:root{
    --purplehead: rgb(224, 182, 248);
    --purplebg: rgb(236, 226, 241);
    --blue: #8ddee6;
    --bluetext: #1c2b5c;
    --heightmult: (10px * 2);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
body{
    color: var(--bluetext);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*header*/
    header {
        padding: 15px 30px;
        background-color: var(--purplehead);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        z-index: 9999;
    }
    header h1 {
        margin: 0 16px;
        font-size: 2.3vw;
    }
    header a{
        text-decoration: none;
        color: var(--bluetext)
    }
    header nav {
        margin: 8px 10px;
        text-decoration: underline 8%;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    header nav ul li a {
        padding: 0 38px;
        font-size: 1.55vw;
    }
/*hero*/
    .hero{
        background-image: url('./assets/templeofmystery.jpg');
        background-size: cover;
        background-position: center;
        flex-wrap: wrap;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    .hero h3{
        font-size: 1.5vw;
        padding: 360px 50px 0 0;
        text-align: right;
    }
    .hero p{
        font-size: 1.35vw;
        padding: 0 45px 10px 0;
        font-style: italic;
        font-weight: lighter;
        text-align: right;
    }
/*body proper*/
    body{
        background-color: var(--purplebg);
    }
    .vertline{ /*for sections*/
        padding-right: 30px;
        border-right: 2px solid var(--purplehead);  
    }
    .info-section{
        margin: 30px auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .info-section h2{
        font-size: 3vw;
        flex: 0 10%;
        text-align: right;
        justify-content: space-between;
    }
/*about me*/
    #about-me p{
        align-items: center;
        flex: 10;
        font-size: 1.25vw;
        padding-left: 24px;
    }
    #about-me img{
        margin: 0 0 0 1vw;
        width: 10%;
        height: 10%;
    }
/*my work*/
    .made-list{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #my-work li{
        width: 50%;
        list-style: none;
        padding-bottom: 1.8vw;
    }
    #my-work img {
        height: calc(96% - var(--heightmult)); /*googled this one*/
        width: calc(100% - var(--heightmult)); /*googled this one*/
        border: .5vw solid var(--bluetext);
        filter: hue-rotate(0deg) brightness(80%) grayscale(0%);
    }
    .info-section h4{
        font-size: 1.35vw;
    }
    #workgotad{
        flex: 1 60%;
    }
    #workgotad h3{
        font-size: 1.65vw;
    }
    #workgotad img{
        height: calc(93% - var(--heightmult)); /*googled this one*/
    }
    #my-work img:hover{
        border: .6vw solid var(--blue);
        filter: none;
    }

/*contact me*/
    footer{
        background-color: var(--purplebg);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
    }
    footer a{
        text-decoration: none;
        color: var(--bluetext);
    }
    footer nav {
        margin: 46px auto;
        width: 75%;
        text-decoration: underline 8%;
    }
    footer nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    footer nav ul li a {
        font-size: 1.55vw;
    }
    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
    @media screen and (max-width: 980px) {
        footer nav {
            margin: 20px auto;
        }
        footer nav ul li a {
            font-size: 2vw;
        }
        .info-section h4{
            font-size: 2vw;
        }
        #workgotad h3{
            font-size: 3vw;
        }
        #workgotad img{
            height: calc(85% - var(--heightmult)); /*googled this one*/
        }
        #about-me p{
            font-size: 1.9vw;
        }
        #about-me img{
            width: 15%;
            height: 15%;
        }
        header h1 {
            font-size: 3vw;
        }
        header nav ul li a {
            padding: 0 20px;
            font-size: 2vw;
        }
        .hero h3{
            font-size: 2.2vw;
            padding: 330px 18px 0 0;
            text-align: right;
        }
        .hero p{
            font-size: 2vw;
            padding: 0 45px 10px 0;
        }
    }
    @media screen and (max-width: 768px) {
        footer nav {
            margin: 12px auto;
        }
        footer nav ul li a {
            font-size: 2.2vw;
        }
        .info-section h4{
            font-size: 2.3vw;
        }
        #workgotad h3{
            font-size: 3vw;
        }
        #about-me p{
            font-size: 2.3vw;
        }
        #about-me img{
            width: 18%;
            height: 18%;
        }
        header h1 {
            font-size: 4vw;
        }
        header nav ul li a {
            padding: 0 10px;
            font-size: 2.85vw;
        }
        .hero h3{
            font-size: 2.5vw;
            padding: 160px 7px 0 0;
            text-align: right;
        }
        .hero p{
            font-size: 2.2vw;
            padding: 0 45px 50px 0;
        }
        .info-section h2{
            font-size: 4vw;
        }
    }
    @media screen and (max-width: 575px) {
        footer nav {
            margin: 12px auto;
        }
        footer nav ul li a {
            font-size: 4vw;
        }
        .info-section h4{
            font-size: 2.5vw;
        }
        #workgotad h3{
            font-size: 3.4vw;
        }
        #about-me p{
            font-size: 2.7vw;
        }
        #about-me img{
            width: 20%;
            height: 20%;
        }
        header h1 {
            font-size: 5vw;
        }
        header nav ul li a {
            padding: 0 20px;
            font-size: 3.35vw;
        }
        .hero h3{
            font-size: 3vw;
            padding: 100px 7px 0 0;
            text-align: right;
        }
        .hero p{
            font-size: 2.5vw;
            padding: 0 45px 30px 0;
        }
        .info-section h2{
            font-size: 4vw;
        }
    }