:root{
    --purplehead: rgb(224, 182, 248);
    --purplebg: rgb(236, 226, 241);
    --gold: #faeb20;
    --blue: #8ddee6;
    --bluetext: #1c2b5c;
    --section-fsize: 3vw;
    --section-flex: 0 10%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
body{
    color: var(--bluetext);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*header*/
    header {
        padding: 15px 30px;
        background-color: var(--purplehead);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        z-index: 9999;
    }
    header h1 {
        margin: 0 16px;
        font-size: 2.3vw;
    }
    header a{
        text-decoration: none;
        color: var(--bluetext)
    }
    header nav {
        margin: 8px 10px;
        text-decoration: underline 8%;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    header nav ul li a {
        padding: 0 38px;
        font-size: 1.55vw;
    }
/*hero*/
    .hero{
        background-image: url('./assets/templeofmystery.jpg');
        background-size: cover;
        background-position: center;
        flex-wrap: wrap;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    .hero h3{
        font-size: 1.5vw;
        padding: 360px 50px 0 0;
        text-align: right;
    }
    .hero p{
        font-size: 1.35vw;
        padding: 0 45px 10px 0;
        font-style: italic;
        font-weight: lighter;
        text-align: right;
    }
/*body proper*/
    body{
        background-color: var(--purplebg);
    }
    .vertline{ /*for sections*/
        padding-right: 30px;
        border-right: 2px solid var(--purplehead);  
    }
    .info-section{
        margin: 30px auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .info-section h2{
        font-size: var(--section-fsize);
        flex: var(--section-flex);
        text-align: right;
        justify-content: space-between;
    }
/*about me*/
    #about-me p{
        align-items: center;
        flex: 10;
        font-size: 1.25vw;
        padding-left: 24px;
    }
    #about-me img{
        margin: 30px auto;
    }
/*my work*/
    .made-list{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #my-work li{
        width: 50%;
        list-style: none;
        padding-bottom: 1.2vw;
    }
    #my-work img {
        height: calc(100% - (10px * 2)); /*googled this one*/
        width: calc(100% - (10px * 2)); /*googled this one*/
        border: .5vw solid var(--bluetext);
        filter: hue-rotate(0deg) brightness(80%) grayscale(0%);
    }
    .info-section h4{
        font-size: 1.35vw;
    }
    #workgotad{
        flex: 1 60%;
    }
    #workgotad h3{
        font-size: 1.65vw;
    }
    #my-work img:hover{
        border: .6vw solid var(--blue);
        filter: none;
    }

/*contact me*/
    footer{
        background-color: var(--purplebg);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
    }
    footer a{
        text-decoration: none;
        color: var(--bluetext);
    }
    footer nav {
        margin: 66px auto;
        width: 75%;
        text-decoration: underline 8%;
    }
    footer nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    footer nav ul li a {
        font-size: 1.55vw;
    }